@font-face {
  font-family: 'DS-Digital';
  src: url('/ds_digital/DS-DIGI.TTF') format('truetype');
}

.timer-display {
  font-family: 'DS-Digital', sans-serif;
  font-size: 7em;
  margin: 0;
}

.active {
  background-color: lightgreen; /* Green */
}

.paused {
  background-color: lightslategray; /* Dark gray */
}

.finished {
  background-color: lightcoral;
}

.title {
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
}
